---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | John Hazel" description="John Hazel's Background & Skills">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/metaversejohn.jpg"
					alt="John in the Metaverse"
				/>
			</Hero>

			<section>
				<h2 class="section-title">About the Photo</h2>
				<div class="content">
					<p>
						This was a fantastic, unique experience where, thanks to "Mr. Pete" of the Metaverse, we simultaneously had webcams and Avatars in the same room together. Pretty cool.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						With a dynamic career spanning ministry, technology, sales, and executive leadership, I've navigated a multifaceted professional path, grounded not in formal education but in a relentless pursuit of knowledge fueled by curiosity. Holding only a high school diploma, my real-world learning experiences have crafted my expertise in web design and development, mastering tools like WordPress, Laravel, PHP, Figma, and Canva. This eclectic journey has not only shaped my technical skill set but also enriched my strategic thinking and leadership abilities, allowing me to lead with insight and innovation.
					</p>
					<br/>
					<p>
						Driven by a profound passion for technology, I excel in translating complex digital concepts into accessible solutions that drive user engagement and satisfaction. However, my true calling transcends the boundaries of technology—I am deeply committed to empowering others to discover and walk in their passion, power, and purpose. My endeavors in various fields have always been guided by this ethos, aiming to impact lives and foster transformative experiences.
					</p>
					<br/>
					<p>
						My life mission, "Live, Love, Legacy," reflects my holistic approach to both personal and professional realms. It encapsulates my desire to lead a life filled with meaningful relationships, purpose-driven work, and lasting contributions that extend beyond mere professional achievements. Through my work and daily interactions, I strive to leave a legacy that champions creativity, nurtures potential, and celebrates the collective human spirit in all its diversity.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title"><a href="https://workinggenius.com" target="_blank">Working Geniuses</a></h2>
				<div class="content">
					<p>Invention, Wonder</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li><strong>Web Dev:</strong> WordPress, Divi, PHP, Laravel</li>
						<li><strong>Design:</strong> Canva, Figma</li>
						<li><strong>AI:</strong> ChatGPT, GPT-4 API, Open Interpreter</li>
						<li>Coaching, Consulting, Helping</li>
						<li>Inventing Solutions to Problems</li>
						<li>Developing Efficient Processes</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
